a {
  text-decoration: none;
  color: inherit;
}

.error {
  display: flex;
  align-self: center;
  justify-content: center;
}
.IconMail {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;
}
